# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.eggs/
pip-wheel-metadata/

# Virtual environments
.venv/
env/
venv/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# VS Code
.vscode/

# Mac
.DS_Store
